.chat {
  max-width: 720px;
  margin: auto;

  &__body {
    height: calc(75vh);
    padding: 1rem;
    width: 100%;
    overflow-y: auto;
  }

  &__footer {
    padding: 0 1rem;
  }

  //override antd styles
  .ant-card-actions li > span {
    width: 100%;
  }
}
