.chat {
  max-width: 720px;
  margin: auto;

  &__body {
    padding: 1rem;
    height: 65vh;
    width: 100%;
    overflow-y: auto;
  }

  &__footer {
    // display: flex;
    // align-items: center;
    padding: 0 1rem;
    // width: 100%;
    // min-width: 100%;
    // max-width: 100%;
  }

  //override antd styles
  .ant-card-actions li > span {
    width: 100%;
  }
}
