.message {
  display: flex;
  align-items: center;
  margin-bottom: .5rem;

  &--self {
    flex-direction: row-reverse;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &_item {
    margin-left: .5rem;
    &:last-child {
      margin-left: 0;
    }
  }

  &_name {
    font-weight: 600;
  }
}
