.msg {
  display: flex;
  flex-direction: row;
  margin: 0 20% 1rem 0;

  &:last-child {
    margin-bottom: 0;
  }

  &__header {
    align-self: flex-start;
    padding: 6px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0.5rem;
    overflow: hidden;
  }
  &__body {
    padding: 6px;
  }

  &__avatar {
    flex-shrink: 0;
  }

  .msg-info {
    display: flex;
    margin: 0 -0.25rem;

    &__item {
      margin: 0 .25rem;
    }
    &__name {
      font-weight: 600;
    }

    &__date {
      opacity: .5;
    }
  }
}

.reversed {
  flex-direction: row-reverse;
  margin: 0 0 1rem 20%;

  .msg {
    &__header {
      align-self: flex-end;
    }

    &__content {
      align-items: flex-end;
    }
  }

  .msg-info {
    flex-direction: row-reverse;
  }
}
